<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>{% block title %}{{ 'Contacts' | trans }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/bootstrap.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('/css/style.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">{{ 'Toggle navigation' | trans }}</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('contact') }}">{{ 'Contacts' | trans }}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li{% if app.request.get('_route') == 'contact' %} class="active"{% endif %}>
                        <a href="{{ path('contact') }}">{{ 'List' }}</a>
                    </li>
                    <li{% if app.request.get('_route') == 'contact_new' %} class="active"{% endif %}>
                        <a href="{{ path('contact_new') }}">{{ 'Create' }}</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('/js/bootstrap.js') }}"></script>
    </body>
</html>
