{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <h1>{{ 'Contact list' | trans }}</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'Id' | trans }}</th>
                    <th>{{ 'Firstname' | trans }}</th>
                    <th>{{ 'Lastname' | trans }}</th>
                    <th>{{ 'Phone' | trans }}</th>
                    <th>{{ 'Actions' | trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('contact_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.firstname }}</td>
                    <td>{{ entity.lastname }}</td>
                    <td>{{ entity.phone }}</td>
                    <td>{{ entity.address }}</td>
                    <td>
                        <ul class="list-unstyled list-inline">
                            <li>
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <a href="{{ path('contact_show', { 'id': entity.id }) }}">{{ 'show' | trans }}</a>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-edit"></span>
                                <a href="{{ path('contact_edit', { 'id': entity.id }) }}">{{ 'edit' | trans }}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul class="list-unstyled">
            <li>
                <span class="glyphicon glyphicon-file"></span>
                <a href="{{ path('contact_new') }}">
                    {{ 'Create a new entry' | trans }}
                </a>
            </li>
        </ul>
    </div>
    {% endblock %}
